<ion-header>
  <ion-toolbar>
    <ion-title>order</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-card>
  <ion-card-header class="header">
    <ion-card-title class="title">Order</ion-card-title>
  </ion-card-header>
  <ion-card-content class="text">Customers order</ion-card-content>
</ion-card>  

<ion-card>
  <ion-card-header class="header">
    <ion-card-title class="title">Order</ion-card-title>
  </ion-card-header>
  <ion-card-content class="text">{{order}}</ion-card-content>
</ion-card>  
