ion-card-title {
    color: rgb(26, 26, 26);
    margin-left: 32px;
    font-size: 32px;
    margin-top: 32px;
}

ion-icon {
    font-size: 24px;
    color: rgb(88, 88, 88);
    padding: 2%  !important;
    margin-right: 16px;
}

.label {
    font-size: 24px;
    font-weight: bold;
    padding: 0%  !important;
}

.subtitle {
    font-size: 20px;
    top: 0;
    margin-left: 70px;
    padding: 0%;
    position: static;
    padding: 0%;
}

.row {
    margin: 20px;
}