<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary" class="content">

  <ion-card>
    <ion-card-header class="header">
      <ion-card-title class="title">Order</ion-card-title>
    </ion-card-header>

    <ion-grid>
      <ion-row class="row">
            <ion-icon name="person-outline"></ion-icon>
            <ion-card-content class="label">{{name}}</ion-card-content>
      </ion-row>
      <ion-row class="row">
        <ion-icon name="cafe-outline"></ion-icon>
          <ion-card-content class="label">{{title}}</ion-card-content>
      </ion-row>
      <ion-row>
        <ion-card-content *ngIf="changes()" class="subtitle">+ {{change}}</ion-card-content>
      </ion-row>
      <ion-row class="row">
        <ion-icon name="card-outline"></ion-icon>
          <ion-card-content class="label">${{total_price}}</ion-card-content>
      </ion-row>
    </ion-grid>
  </ion-card>  

</ion-content>
