<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="home()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary" class="content">
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Menu</ion-label>
    </ion-list-header>
    <ion-item button *ngFor="let item of menu" (click)="openItemModal(item)"> 
        <ion-label>{{item.title}}</ion-label>
        <ion-label class="price">{{'$' + item.price}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
