.scan-tag {
    margin: 0%;
    margin-left: 12%;
    margin-right: 3%;
    background-color: rgb(229, 210, 176);
    box-shadow: none !important;
}

.image {
    box-shadow: none !important;
    --background: url(../../../assets/reuser.png) 0 0/80% 100% no-repeat;
    height: 20rem;
    margin-bottom: 1%;
}
