

.content {
    justify-content: center;
    margin: auto;
}

.filler {
    height: 0%;
    background-color: transparent;
    box-shadow: none !important;
    margin: 0%;
}

.image {
    height: 70%;
    margin: 7.5%;
}

.button {
    margin: auto;
    width: 80%;
    background-color: #c3dab2;
    position: fixed;
    bottom: 10%;
    left: 10%;
}

.title {
    text-align: center !important;
    font-weight: 700;
    color: white;
    font-size: 1.2rem;
}