<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="tertiary" class="content">

  <ion-card class="image">

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="14">
        <img src="assets/enterstore.png">
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-card (click)="scan()" button="true" class="scan-tag">
      <ion-card-header>
        <ion-card-title>Scan restaurant tag</ion-card-title>
      </ion-card-header>
    </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
