<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Choose...</ion-card-subtitle>
      <ion-card-title>Type of user</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Choose which user you are:
    </ion-card-content>
  </ion-card>

  <ion-card (click)="some_func()" button="true">
    <ion-card-header>
      <ion-card-title>Customer</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="some_func()" button="true">
    <ion-card-header>
      <ion-card-title>Server</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>