

<ion-content [fullscreen]="true" color="tertiary" class="content">

  <ion-card class="filler">
    <div></div>
  </ion-card>

  <ion-card class="mast">
    <ion-text class="mast-text">ReUser</ion-text>
    <ion-text class="mast-subtitle">Be more sustainable below!</ion-text>
  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card class="customer" [routerLink]="['/enter-store']" button="true" >
          <ion-card-header class="header">
            <ion-card-title class="title">MAKE ORDER</ion-card-title>
          </ion-card-header>
       </ion-card>  

      </ion-col>
      <ion-col>

        <ion-card  class="server" [routerLink]="['/read-order']" button="true">
          <ion-card-header class="header">
            <ion-card-title class="title">READ ORDER</ion-card-title>
          </ion-card-header>
        </ion-card>  
        
      </ion-col>
    </ion-row>
  </ion-grid>

    

    


</ion-content>