ion-icon {
    font-size: 24px;
    color: rgb(88, 88, 88);
    padding: 2%  !important;
    margin-right: 30px;
    bottom: 0%;
}

.label {
    font-size: 24px;
    font-weight: bold;
    padding: 0%  !important;
}

.subtitle {
    font-size: 20px;
    top: 0;
    margin-left: 70px;
    padding: 0%;
    position: static;
    padding: 0%;
}

ion-button {
    margin: auto;
    width: 80%;
    margin: 10%;
}

.grid {
    margin: 20px;
}