<ion-header>
  <ion-toolbar>
    <ion-title>item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>{{'$' + item.price}}</ion-card-title>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item button *ngFor="let options of item">
        <ion-label>{{option.title}}</ion-label>
        <ion-label>{{'$' + option.cost}}</ion-label>
    </ion-item>
  </ion-list> -->

  <ion-card button="true">
    <ion-card-header>
      <ion-card-title>Add to order</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
