<ion-header>
  <ion-toolbar>
    <ion-title>item</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'$' + price}}</ion-card-title>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-list>

    <ion-list-header>
      <ion-label>Additions</ion-label>
    </ion-list-header>
    <ion-item  *ngFor="let option of options_list">
      <ion-checkbox slot="start" (click)="onChange(option)">
      </ion-checkbox>
        <ion-label>{{option.title}}</ion-label>
        <ion-label>{{'$' + option.cost}}</ion-label>
    </ion-item>

  </ion-list>

  <ion-button (click)="addToOrder()">
    Add to Order
  </ion-button>

</ion-content>
